body{
    background-color: deeppink;
}
#fondorosa{
    background-color: darkorchid;
    margin-left: 10%;
    margin-right: 10%;
}
h1{
    text-align: center;
}
#menu{
    list-style: none;
    position: relative;
    display: block;
    height: 36px;
}
#menu li{
	float: left;
	display:block;
	position:relative;

}
#menu li a{

    font-family:Helvetica, Arial, sans-serif;
    font-size:14px;
    line-height:1.3em;
    padding:10px 14px 8px 16px;
    display:block;
    margin-left: 200px;
    
}

a:hover{
    color: #fff;

}

.casosp{
    font-weight: bolder;
    font-size: large;

}
:target{
    color: white;
}